/* Start Global Rules  */
* {
  padding: 0px;
  margin: 0px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Tajawal", sans-serif;
  scroll-behavior: smooth;
}

body {
  width: 100%;
}

.container {
  direction: rtl;
  padding-top: 30px;
  padding-left: 7.81%;
  padding-right: 7.81%;
  height: 800px;
  /* Start Header Styling */
  /* End Header Styling */
  /* Start Description Styling  */
}

.container .header-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  /* Start Logo Styling  */
  /* End Logo Styling  */
  /* Start Navbar Styling */
  /* End Navbar Styling */
  /* Start login & inscription  Styling*/
  /* End login & inscription  Styling*/
}

.container .header-wrapper .sidebar-icon-wrapper {
  display: none;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

@media (max-width: 700px) {
  .container .header-wrapper .sidebar-icon-wrapper {
    display: block;
    margin-top: 27px;
  }
}

.container .header-wrapper .nav-logo-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 10%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.container .header-wrapper .header-logo {
  -o-object-fit: contain;
     object-fit: contain;
  width: 82px;
  height: 87px;
}

@media (max-width: 700px) {
  .container .header-wrapper .header-logo {
    width: 65px;
  }
}

.container .header-wrapper .navbar-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 7%;
  padding-right: 2px;
  padding-left: 2px;
  padding-top: 22px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

@media (max-width: 700px) {
  .container .header-wrapper .navbar-nav {
    display: none;
  }
}

@media (max-width: 1128px) {
  .container .header-wrapper .navbar-nav {
    display: none;
  }
}

.container .header-wrapper .nav-item {
  list-style: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 30px;
  text-align: center;
  color: #6f6f6f;
}

.container .header-wrapper .nav-link {
  text-decoration: none;
  color: #6f6f6f;
  font-size: 19px;
  font-weight: 500;
}

.container .header-wrapper .nav-link:focus {
  border-bottom: 2px solid #d5032b;
  padding-bottom: 3px;
  color: #0f1e42;
}

.container .header-wrapper .nav-link:hover {
  border-bottom: 2px solid #d5032b;
  padding-bottom: 3px;
  color: #0f1e42;
}

.container .header-wrapper .header-login-inscription {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-top: 9px;
}

@media (max-width: 700px) {
  .container .header-wrapper .header-login-inscription {
    display: none;
  }
}

@media (max-width: 1128px) {
  .container .header-wrapper .header-login-inscription {
    gap: 25px;
  }
}

.container .header-wrapper .header-btn {
  width: 174px;
  height: 56px;
  border-radius: 50px;
  font-size: 18px;
  font-weight: 500;
}

@media (max-width: 1180px) {
  .container .header-wrapper .header-btn {
    width: 137px;
  }
}

.container .header-wrapper .login-btn {
  border: 1px solid #dadada;
  color: black;
  background-color: #fff;
  cursor: pointer;
}

.container .header-wrapper .inscription-btn {
  border: 1px solid #0f1e42;
  color: #dadada;
  background-color: #0f1e42;
  cursor: pointer;
}

.container .description-section-wrapper {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border: 2px solid black;
  /* Start Left Side Section Styling  */
  /* End Left Side Section Styling  */
  /* Start Right Side Section Styling  */
  /* End Right Side Section Styling  */
}

@media (max-width: 700px) {
  .container .description-section-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    flex-direction: column-reverse;
  }
}

.container .description-section-wrapper .description-section-image-container {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 2px solid blue;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 90px;
}

@media (max-width: 700px) {
  .container .description-section-wrapper .description-section-image-container {
    width: 100%;
    text-align: center;
    padding-top: 55px;
  }
}

.container .description-section-wrapper .description-section-image-container .description-small-title {
  font-weight: 500;
  font-size: 18px;
  color: #d5032b;
}

.container .description-section-wrapper .description-section-image-container .description-large-title {
  font-weight: 700;
  font-size: 47px;
  color: #0f1e42;
}

.container .description-section-wrapper .description-section-image-container .description-medium-title {
  font-size: 29px;
  color: #464646;
  margin-top: 15px;
}

.container .description-section-wrapper .description-section-image-container .enroll-now-btn {
  height: 65px;
  width: 250px;
  background-color: #0f1e42;
  border-radius: 50px;
  border: 1px solid #0f1e42;
  font-size: 24px;
  color: #fff;
  cursor: pointer;
  margin-top: 20px;
}

@media (max-width: 700px) {
  .container .description-section-wrapper .description-section-image-container .enroll-now-btn {
    margin-right: auto;
    margin-left: auto;
  }
}

.container .description-section-wrapper .description-section-text-wrapper {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border: 2px solid red;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.container .description-section-wrapper .description-section-text-wrapper .description-image {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

@media (max-width: 700px) {
  .container .description-section-wrapper .description-section-text-wrapper {
    width: 100%;
  }
}
/*# sourceMappingURL=index.css.map */