/* Start Global Rules  */
* {
  padding: 0px;
  margin: 0px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Tajawal", sans-serif;
  scroll-behavior: smooth;
}

body {
  width: 100%;
}
.container {
  direction: rtl;
  padding-top: 30px;
  padding-left: 7.81%;
  padding-right: 7.81%;
  height: 800px;

  /* Start Header Styling */
  .header-wrapper {
    display: flex;
    flex-direction: row;
    height: fit-content;
    width: 100%;

    .sidebar-icon-wrapper {
      display: none;
      height: fit-content;
      @include md {
        display: block;
        margin-top: 27px;
      }
    }
    .nav-logo-wrapper {
      display: flex;
      flex-direction: row;
      gap: 10%;
      flex: 1;
    }

    /* Start Logo Styling  */
    .header-logo {
      object-fit: contain;
      width: 82px;
      height: 87px;
      @include md {
        width: 65px;
      }
    }
    /* End Logo Styling  */

    /* Start Navbar Styling */
    .navbar-nav {
      display: flex;
      flex-direction: row;
      gap: 7%;
      padding-right: 2px;
      padding-left: 2px;
      padding-top: 22px;
      flex: 1;
      @include md {
        display: none;
      }
      @include xl {
        display: none;
      }
    }
    .nav-item {
      list-style: none;
      width: fit-content;
      height: 30px;
      text-align: center;
      color: $first-dark-gray-color;
    }
    .nav-link {
      text-decoration: none;
      color: $first-dark-gray-color;
      font-size: 19px;
      font-weight: 500;
    }
    .nav-link:focus {
      border-bottom: 2px solid $dark-red-color;
      padding-bottom: 3px;
      color: $dark-blue-color;
    }
    .nav-link:hover {
      border-bottom: 2px solid $dark-red-color;
      padding-bottom: 3px;
      color: $dark-blue-color;
    }
    /* End Navbar Styling */

    /* Start login & inscription  Styling*/
    .header-login-inscription {
      display: flex;
      gap: 30px;
      flex-direction: row;
      padding-top: 9px;
      @include md {
        display: none;
      }
      @include xl {
        gap: 25px;
      }
    }
    .header-btn {
      width: 174px;
      height: 56px;
      border-radius: 50px;
      font-size: 18px;
      font-weight: 500;
      @include lg {
        width: 137px;
      }
    }
    .login-btn {
      border: 1px solid $gray-color;
      color: black;
      background-color: #fff;
      cursor: pointer;
    }
    .inscription-btn {
      border: 1px solid $dark-blue-color;
      color: $gray-color;
      background-color: $dark-blue-color;
      cursor: pointer;
    }
    /* End login & inscription  Styling*/
  }
  /* End Header Styling */

  /* Start Description Styling  */
  .description-section-wrapper {
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: row;
    border: 2px solid black;
    @include md {
      flex-direction: column;
      flex-direction: column-reverse;
    }

    /* Start Left Side Section Styling  */
    .description-section-image-container {
      height: fit-content;
      display: flex;
      // margin-left: 105px;
      border: 2px solid blue;
      flex: 1;
      flex-direction: column;
      padding-top: 90px;
      @include md {
        width: 100%;
        text-align: center;
        padding-top: 55px;
      }

      .description-small-title {
        font-weight: 500;
        font-size: 18px;
        color: $dark-red-color;
      }
      .description-large-title {
        font-weight: 700;
        font-size: 47px;
        color: $dark-blue-color;
      }
      .description-medium-title {
        font-size: 29px;
        color: $second-dark-gray-color;
        margin-top: 15px;
      }
      .enroll-now-btn {
        height: 65px;
        width: 250px;
        background-color: $dark-blue-color;
        border-radius: 50px;
        border: 1px solid $dark-blue-color;
        font-size: 24px;
        color: #fff;
        // position: absolute;
        // right: 0px;
        // bottom: 16px;
        cursor: pointer;
        margin-top: 20px;
        @include md {
          margin-right: auto;
          margin-left: auto;
        }
      }
    }
    /* End Left Side Section Styling  */

    /* Start Right Side Section Styling  */
    .description-section-text-wrapper {
      flex: 1;
      border: 2px solid red;
      height: fit-content;
      .description-image {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
      @include md {
        width: 100%;
      }
    }
    /* End Right Side Section Styling  */
  }
}
