// Colors ( themes & fonts )
$dark-blue-color: #0f1e42;
$gray-color: #dadada;
$first-dark-gray-color: #6f6f6f;
$second-dark-gray-color: #464646;
$third-dark-gray-color: #c4c4c4;
$dark-red-color: #d5032b;
$blue-sky-color: #c8e8f5;
